/* #root {
  display: flex;
  position: static;
  width: 100%;
  background: gold;
  align-items: center;
  justify-content: space-between;
} */

.form-field {
  margin-bottom: 15px;
}

.form-field .inner {
  margin-bottom: 30px;
}

.form-field .inner:last-child {
  margin-bottom: 0;
}